
* {
    margin: 0;
    background-color: lightgrey;
}

*:visited {
    color: white;
}


body {
    
}

.cielo {

}

nav {
    background-color: #5d97a0;
    height: 30px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: fixed;
    z-index: 10
}

nav a {
    background-color: #5d97a0;
    padding: 0 30px;
}

h1 {
    position: relative;
    top: 50px;
    left: 10px;
}

main {
    position: relative;
    top: 100px;
    display: inline-block;
}

#home-cap {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    bottom: 200px;
    left: 20px;
}

#home {
    position: relative;
    width: 60%;
    padding: 10px 30px;
    left: 220px;
    bottom: 200px;
}

.cielo {
    position: relative;
    display: inline-block;
    bottom: 50px;
}

